<span class="btn btn-outline-danger rounded-pill bg-danger-gradient text-dark my-2"><em><%=message.user.username %></em> : <%=link_to message.body, message_path(message), class:'text-decoration-none text-dark'%></span><br/>
