  <div class="d-flex justify-content-center">
    <i class="fa-solid fa-mug-saucer fa-5x text-danger"></i>
  </div>
  <div class="d-flex justify-content-center">
    <p class="fs-5 text-danger py-3">Say something</p>
  </div>