<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <i class="fa-solid fa-mug-saucer fa-5x text-danger"></i>
  </div>
  <div class="d-flex justify-content-center">
    <p class="fs-5 text-danger py-3">Say something</p>
  </div>
  <div class="row">
    <div class="col-md-9 col-sm-8 ">
      <div class="card">
        <div class="card-body ">
          <%@messages.each do|message|  %>
            <%= render partial: 'messages/message', locals: {message: message} %>
          <%end%>
          <div class="card-footer">
            <%= render partial: 'messages/form'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 w-sm-100 text-center">
      <div class="card">
       <p class="fs-4 fw-bold btn btn-danger"><i class="fa-solid fa-users"></i> User List</p>
        <div class="card-body">
          <% @users.each do |user| %>
            <div class="border py-1"><span class="btn btn-outline-danger rounded-pill bg-danger-gradient text-dark mt-1"><i class="fa fa-user"></i> <%= user.username %></span></div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>


