<div class="bg-primary-gradient">
  <h1 class="text-center py-4">Listing of all teacher</h1>
</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <%@teacher .each do |teacher | %>
      <%= render partial: 'students/student', locals: {student: teacher} %>
    <%end%>
  </div>
</div>