<div class="container mt-5">
  <h1 class="text-center pb-3"><%= @user.email %>'s profile</h1>
  <% if @user.avatar.attached? %>
    <div class="text-center">
      <%= image_tag @user.avatar, class:'avatar_show border border-light border-4' %>
    </div>
  <% end %>
  <div class="text-center my-4">
    <%= link_to 'Edit profile', edit_user_registration_path(@user), class:"btn btn-info text" %>
  </div>
  <% @articles.each do |article| %>
    <%= render partial: 'articles/article', locals: {article: article} %>
  <% end %>
  <div>
