<div class="bg-primary-gradient">
  <h1 class="text-center py-4">Listing of all courses</h1>
</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <%@courses.each do |course| %>
      <%= render partial: 'courses/course', locals: {course: course} %>
    <%end%>
  </div>
</div>
