<div  class="text-center bg-primary-gradient mt-5">
  <div class="border py-5">
    <h3 class="fa-solid fa-layer-group text-color-blue"></h3>
    <h3 class="text-color-blue d-inline">List of category</h3>
  </div>
  <% @categories.each do |category| %>
    <%= link_to category,class:'text-decoration-none'  do%>
      <div class="fs-5 border py-5">
        <%= category.name%>
      </div>
    <%end%>
  <%end%>
</div>
