<div class="container-fluid bg-dark fixed-bottom text-white">
  <div class="row ">
    <div class="col-md-12 text-center">
      <h1>ᴜɴɪᴠᴇʀsᴇ</h1>
      <h5>This Website was designed by universe</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <h6>privacy policy | Terms of use</h6>
    </div>
    <div class="col-md-6 text-center">
      <h6>&copy;2021-2026 universe.com</h6>
    </div>
  </div>
</div>
